alabaster==0.7.10
appdirs==1.4.3
Babel==2.3.4
coverage==4.3.4
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.5
jsonschema==2.6.0
MarkupSafe==1.0
packaging==16.8
pluggy==0.4.0
py==1.4.32
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.6
pytest-cov==2.4.0
pytz==2016.10
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.3
tox==2.6.0
virtualenv==15.1.0
